ThreeBits.Security.Portal/Connected Services/USERSECURITYWCF/UserSecurityService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" />
  <xs:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Security" />
  <xs:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" />
  <xs:complexType name="UsuarioDC">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="DatosUsuario" nillable="true" type="q1:DatosUsuarioBE" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Security" minOccurs="0" name="ListaApps" nillable="true" type="q2:ArrayOfAplicacionBE" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="ListaCatalogos" nillable="true" type="q3:ArrayOfCatalogosBE" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="ListaEstaciones" nillable="true" type="q4:ArrayOfEstacionesXAppBE" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="ListaRelTipoUsuario" nillable="true" type="q5:ArrayOfRelacionTipoUsuarioBE" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="ListaRolesXApp" nillable="true" type="q6:ArrayOfRolesBE" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="ResGral" nillable="true" type="q7:RespuestaGralBE" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="lstCuenta" nillable="true" type="q8:ArrayOfCuentaBE" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="lstUsuarioXApp" nillable="true" type="q9:ArrayOfUsuarioXAppBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDC" nillable="true" type="tns:UsuarioDC" />
</xs:schema>