ThreeBits.School.Portal/Connected Services/USERSECURITYWCF/UserSecurityService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserSecurityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" />
      <xsd:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" />
      <xsd:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" />
      <xsd:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Security" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserSecurityService_addUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:addUsuario" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_addUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_addUsuarioXAplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:addUsuarioXAplicacion" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_addUsuarioXAplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUsuarioXAplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_actDeactivateUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:actDeactivateUsuario" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_actDeactivateUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:actDeactivateUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_updateUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUsuario" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_updateUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_addRolesXUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:addRolesXUsuario" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_addRolesXUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:addRolesXUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_updateRol_InputMessage">
    <wsdl:part name="parameters" element="tns:updateRol" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_updateRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateRolResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_getUsuarioFull_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsuarioFull" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_getUsuarioFull_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsuarioFullResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_GetUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_GetUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_GetUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuario" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_GetUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_GetRolesVsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesVsUser" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_GetRolesVsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesVsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_getRolesXApp_InputMessage">
    <wsdl:part name="parameters" element="tns:getRolesXApp" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_getRolesXApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRolesXAppResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_checkUsrXApp_InputMessage">
    <wsdl:part name="parameters" element="tns:checkUsrXApp" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_checkUsrXApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkUsrXAppResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_getAppXUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:getAppXUsuario" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_getAppXUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAppXUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_getEstacionesXApp_InputMessage">
    <wsdl:part name="parameters" element="tns:getEstacionesXApp" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_getEstacionesXApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEstacionesXAppResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_getRelTipoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:getRelTipoUsuario" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_getRelTipoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRelTipoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_getCatSelection_InputMessage">
    <wsdl:part name="parameters" element="tns:getCatSelection" />
  </wsdl:message>
  <wsdl:message name="IUserSecurityService_getCatSelection_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCatSelectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserSecurityService">
    <wsdl:operation name="addUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/addUsuario" message="tns:IUserSecurityService_addUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/addUsuarioResponse" message="tns:IUserSecurityService_addUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUsuarioXAplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/addUsuarioXAplicacion" message="tns:IUserSecurityService_addUsuarioXAplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/addUsuarioXAplicacionResponse" message="tns:IUserSecurityService_addUsuarioXAplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actDeactivateUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/actDeactivateUsuario" message="tns:IUserSecurityService_actDeactivateUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/actDeactivateUsuarioResponse" message="tns:IUserSecurityService_actDeactivateUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/updateUsuario" message="tns:IUserSecurityService_updateUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/updateUsuarioResponse" message="tns:IUserSecurityService_updateUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addRolesXUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/addRolesXUsuario" message="tns:IUserSecurityService_addRolesXUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/addRolesXUsuarioResponse" message="tns:IUserSecurityService_addRolesXUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateRol">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/updateRol" message="tns:IUserSecurityService_updateRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/updateRolResponse" message="tns:IUserSecurityService_updateRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsuarioFull">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/getUsuarioFull" message="tns:IUserSecurityService_getUsuarioFull_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/getUsuarioFullResponse" message="tns:IUserSecurityService_getUsuarioFull_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/GetUsuarios" message="tns:IUserSecurityService_GetUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/GetUsuariosResponse" message="tns:IUserSecurityService_GetUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/GetUsuario" message="tns:IUserSecurityService_GetUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/GetUsuarioResponse" message="tns:IUserSecurityService_GetUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRolesVsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/GetRolesVsUser" message="tns:IUserSecurityService_GetRolesVsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/GetRolesVsUserResponse" message="tns:IUserSecurityService_GetRolesVsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRolesXApp">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/getRolesXApp" message="tns:IUserSecurityService_getRolesXApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/getRolesXAppResponse" message="tns:IUserSecurityService_getRolesXApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkUsrXApp">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/checkUsrXApp" message="tns:IUserSecurityService_checkUsrXApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/checkUsrXAppResponse" message="tns:IUserSecurityService_checkUsrXApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAppXUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/getAppXUsuario" message="tns:IUserSecurityService_getAppXUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/getAppXUsuarioResponse" message="tns:IUserSecurityService_getAppXUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEstacionesXApp">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/getEstacionesXApp" message="tns:IUserSecurityService_getEstacionesXApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/getEstacionesXAppResponse" message="tns:IUserSecurityService_getEstacionesXApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRelTipoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/getRelTipoUsuario" message="tns:IUserSecurityService_getRelTipoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/getRelTipoUsuarioResponse" message="tns:IUserSecurityService_getRelTipoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCatSelection">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSecurityService/getCatSelection" message="tns:IUserSecurityService_getCatSelection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSecurityService/getCatSelectionResponse" message="tns:IUserSecurityService_getCatSelection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserSecurityService" type="tns:IUserSecurityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addUsuario">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/addUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUsuarioXAplicacion">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/addUsuarioXAplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actDeactivateUsuario">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/actDeactivateUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUsuario">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/updateUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRolesXUsuario">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/addRolesXUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRol">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/updateRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuarioFull">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/getUsuarioFull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/GetUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuario">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/GetUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesVsUser">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/GetRolesVsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRolesXApp">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/getRolesXApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUsrXApp">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/checkUsrXApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppXUsuario">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/getAppXUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstacionesXApp">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/getEstacionesXApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelTipoUsuario">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/getRelTipoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCatSelection">
      <soap:operation soapAction="http://tempuri.org/IUserSecurityService/getCatSelection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserSecurityService">
    <wsdl:port name="BasicHttpBinding_IUserSecurityService" binding="tns:BasicHttpBinding_IUserSecurityService">
      <soap:address location="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>