ThreeBits.Security.Portal/Connected Services/SECURITYWCF/SecurityService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaGralBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ERRORMESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG" type="xs:boolean" />
      <xs:element minOccurs="0" name="TRACE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaGralBE" nillable="true" type="tns:RespuestaGralBE" />
</xs:schema>