ThreeBits.Timbrado.Portal/Connected Services/SECURITYWCF/SecurityService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAplicacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplicacionBE" nillable="true" type="tns:AplicacionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplicacionBE" nillable="true" type="tns:ArrayOfAplicacionBE" />
  <xs:complexType name="AplicacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDAPLICACION" type="xs:long" />
      <xs:element minOccurs="0" name="IDUSRSXAPP" type="xs:long" />
      <xs:element minOccurs="0" name="IDUSUARIO" type="xs:long" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URLINICIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AplicacionBE" nillable="true" type="tns:AplicacionBE" />
  <xs:complexType name="ArrayOfPermisoXElementosObjBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermisoXElementosObjBE" nillable="true" type="tns:PermisoXElementosObjBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermisoXElementosObjBE" nillable="true" type="tns:ArrayOfPermisoXElementosObjBE" />
  <xs:complexType name="PermisoXElementosObjBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="ELEMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDELEMENTOSXOBJ" type="xs:long" />
      <xs:element minOccurs="0" name="IDPERMISOSOBJ" type="xs:long" />
      <xs:element minOccurs="0" name="TOOLTIP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermisoXElementosObjBE" nillable="true" type="tns:PermisoXElementosObjBE" />
  <xs:complexType name="EncryptionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="VALORIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALOROUT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptionBE" nillable="true" type="tns:EncryptionBE" />
  <xs:complexType name="ArrayOfWCFMetodosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCFMetodosBE" nillable="true" type="tns:WCFMetodosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCFMetodosBE" nillable="true" type="tns:ArrayOfWCFMetodosBE" />
  <xs:complexType name="WCFMetodosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="Actualizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDAPLICACION" type="xs:long" />
      <xs:element minOccurs="0" name="IDMETODOS" type="xs:long" />
      <xs:element minOccurs="0" name="IDSERVICIOS" type="xs:long" />
      <xs:element minOccurs="0" name="NOMBREMETODO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECURRENTE" type="xs:boolean" />
      <xs:element minOccurs="0" name="RowIndex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFMetodosBE" nillable="true" type="tns:WCFMetodosBE" />
  <xs:complexType name="ArrayOfPermisosXObjetosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermisosXObjetosBE" nillable="true" type="tns:PermisosXObjetosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermisosXObjetosBE" nillable="true" type="tns:ArrayOfPermisosXObjetosBE" />
  <xs:complexType name="PermisosXObjetosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDPERMISOSOBJ" type="xs:long" />
      <xs:element minOccurs="0" name="IDROL" type="xs:long" />
      <xs:element minOccurs="0" name="NOMBREOBJETO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAGINA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPOOBJETO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOOLTIP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermisosXObjetosBE" nillable="true" type="tns:PermisosXObjetosBE" />
  <xs:complexType name="ArrayOfPermisosXMenuBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermisosXMenuBE" nillable="true" type="tns:PermisosXMenuBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermisosXMenuBE" nillable="true" type="tns:ArrayOfPermisosXMenuBE" />
  <xs:complexType name="PermisosXMenuBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDPERMISOSMENU" type="xs:long" />
      <xs:element minOccurs="0" name="IDROL" type="xs:long" />
      <xs:element minOccurs="0" name="IMAGEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBREMENU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDENMENU" type="xs:int" />
      <xs:element minOccurs="0" name="TIPOOBJETO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOOLTIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermisosXMenuBE" nillable="true" type="tns:PermisosXMenuBE" />
  <xs:complexType name="ArrayOfPermisoXSubmenuBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermisoXSubmenuBE" nillable="true" type="tns:PermisoXSubmenuBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermisoXSubmenuBE" nillable="true" type="tns:ArrayOfPermisoXSubmenuBE" />
  <xs:complexType name="PermisoXSubmenuBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDPERMISOSMENU" type="xs:long" />
      <xs:element minOccurs="0" name="IDPERMISOSXSUBMENU" type="xs:long" />
      <xs:element minOccurs="0" name="IMAGEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRESUBMENU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDENSUBMENU" type="xs:int" />
      <xs:element minOccurs="0" name="TIPOOBJETO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOOLTIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermisoXSubmenuBE" nillable="true" type="tns:PermisoXSubmenuBE" />
</xs:schema>