ThreeBits.Timbrado.Portal/Connected Services/SECURITYWCF/SecurityService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecurityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/SecurityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/SecurityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/SecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" />
      <xsd:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/SecurityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Security" />
      <xsd:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/SecurityService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecurityService_checkPermisoXMethServ_InputMessage">
    <wsdl:part name="parameters" element="tns:checkPermisoXMethServ" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_checkPermisoXMethServ_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkPermisoXMethServResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_checkMetodoXApp_InputMessage">
    <wsdl:part name="parameters" element="tns:checkMetodoXApp" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_checkMetodoXApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkMetodoXAppResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getObjetosXAppRolPage_InputMessage">
    <wsdl:part name="parameters" element="tns:getObjetosXAppRolPage" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getObjetosXAppRolPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:getObjetosXAppRolPageResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getElementsObjectsXIdObj_InputMessage">
    <wsdl:part name="parameters" element="tns:getElementsObjectsXIdObj" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getElementsObjectsXIdObj_OutputMessage">
    <wsdl:part name="parameters" element="tns:getElementsObjectsXIdObjResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getMenuXAppRol_InputMessage">
    <wsdl:part name="parameters" element="tns:getMenuXAppRol" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getMenuXAppRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMenuXAppRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getMenuXAppRolAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:getMenuXAppRolAdmin" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getMenuXAppRolAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMenuXAppRolAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getMenuxRol_InputMessage">
    <wsdl:part name="parameters" element="tns:getMenuxRol" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getMenuxRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMenuxRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getMenuxRolAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:getMenuxRolAdmin" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getMenuxRolAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMenuxRolAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getSubMenuXIdMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubMenuXIdMenu" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getSubMenuXIdMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubMenuXIdMenuResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getSubMenuXIdMenuAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubMenuXIdMenuAdmin" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getSubMenuXIdMenuAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubMenuXIdMenuAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_encryptDesEncrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:encryptDesEncrypt" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_encryptDesEncrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:encryptDesEncryptResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getAplicaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:getAplicaciones" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_getAplicaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAplicacionesResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addAplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:addAplicacion" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addAplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:addAplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_delMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:delMenu" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_delMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:delMenuResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_delSubMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:delSubMenu" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_delSubMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:delSubMenuResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_updAplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:updAplicacion" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_updAplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:updAplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_updMenuxAppRol_InputMessage">
    <wsdl:part name="parameters" element="tns:updMenuxAppRol" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_updMenuxAppRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:updMenuxAppRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_updSubMenuxAppRol_InputMessage">
    <wsdl:part name="parameters" element="tns:updSubMenuxAppRol" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_updSubMenuxAppRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:updSubMenuxAppRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addMetodo_InputMessage">
    <wsdl:part name="parameters" element="tns:addMetodo" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addMetodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:addMetodoResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addRolxApp_InputMessage">
    <wsdl:part name="parameters" element="tns:addRolxApp" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addRolxApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:addRolxAppResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:addServicio" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:addServicioResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addMenuxAppRol_InputMessage">
    <wsdl:part name="parameters" element="tns:addMenuxAppRol" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addMenuxAppRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:addMenuxAppRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addSubMenuxAppRol_InputMessage">
    <wsdl:part name="parameters" element="tns:addSubMenuxAppRol" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addSubMenuxAppRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:addSubMenuxAppRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addPermisosxObjeto_InputMessage">
    <wsdl:part name="parameters" element="tns:addPermisosxObjeto" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addPermisosxObjeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPermisosxObjetoResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addPermisosxElementoObjeto_InputMessage">
    <wsdl:part name="parameters" element="tns:addPermisosxElementoObjeto" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_addPermisosxElementoObjeto_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPermisosxElementoObjetoResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecurityService">
    <wsdl:operation name="checkPermisoXMethServ">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/checkPermisoXMethServ" message="tns:ISecurityService_checkPermisoXMethServ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/checkPermisoXMethServResponse" message="tns:ISecurityService_checkPermisoXMethServ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkMetodoXApp">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/checkMetodoXApp" message="tns:ISecurityService_checkMetodoXApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/checkMetodoXAppResponse" message="tns:ISecurityService_checkMetodoXApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getObjetosXAppRolPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/getObjetosXAppRolPage" message="tns:ISecurityService_getObjetosXAppRolPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/getObjetosXAppRolPageResponse" message="tns:ISecurityService_getObjetosXAppRolPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getElementsObjectsXIdObj">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/getElementsObjectsXIdObj" message="tns:ISecurityService_getElementsObjectsXIdObj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/getElementsObjectsXIdObjResponse" message="tns:ISecurityService_getElementsObjectsXIdObj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMenuXAppRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/getMenuXAppRol" message="tns:ISecurityService_getMenuXAppRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/getMenuXAppRolResponse" message="tns:ISecurityService_getMenuXAppRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMenuXAppRolAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/getMenuXAppRolAdmin" message="tns:ISecurityService_getMenuXAppRolAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/getMenuXAppRolAdminResponse" message="tns:ISecurityService_getMenuXAppRolAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMenuxRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/getMenuxRol" message="tns:ISecurityService_getMenuxRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/getMenuxRolResponse" message="tns:ISecurityService_getMenuxRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMenuxRolAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/getMenuxRolAdmin" message="tns:ISecurityService_getMenuxRolAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/getMenuxRolAdminResponse" message="tns:ISecurityService_getMenuxRolAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubMenuXIdMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/getSubMenuXIdMenu" message="tns:ISecurityService_getSubMenuXIdMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/getSubMenuXIdMenuResponse" message="tns:ISecurityService_getSubMenuXIdMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubMenuXIdMenuAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/getSubMenuXIdMenuAdmin" message="tns:ISecurityService_getSubMenuXIdMenuAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/getSubMenuXIdMenuAdminResponse" message="tns:ISecurityService_getSubMenuXIdMenuAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="encryptDesEncrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/encryptDesEncrypt" message="tns:ISecurityService_encryptDesEncrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/encryptDesEncryptResponse" message="tns:ISecurityService_encryptDesEncrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAplicaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/getAplicaciones" message="tns:ISecurityService_getAplicaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/getAplicacionesResponse" message="tns:ISecurityService_getAplicaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addAplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/addAplicacion" message="tns:ISecurityService_addAplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/addAplicacionResponse" message="tns:ISecurityService_addAplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/delMenu" message="tns:ISecurityService_delMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/delMenuResponse" message="tns:ISecurityService_delMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delSubMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/delSubMenu" message="tns:ISecurityService_delSubMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/delSubMenuResponse" message="tns:ISecurityService_delSubMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updAplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/updAplicacion" message="tns:ISecurityService_updAplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/updAplicacionResponse" message="tns:ISecurityService_updAplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updMenuxAppRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/updMenuxAppRol" message="tns:ISecurityService_updMenuxAppRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/updMenuxAppRolResponse" message="tns:ISecurityService_updMenuxAppRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updSubMenuxAppRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/updSubMenuxAppRol" message="tns:ISecurityService_updSubMenuxAppRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/updSubMenuxAppRolResponse" message="tns:ISecurityService_updSubMenuxAppRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addMetodo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/addMetodo" message="tns:ISecurityService_addMetodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/addMetodoResponse" message="tns:ISecurityService_addMetodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addRolxApp">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/addRolxApp" message="tns:ISecurityService_addRolxApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/addRolxAppResponse" message="tns:ISecurityService_addRolxApp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/addServicio" message="tns:ISecurityService_addServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/addServicioResponse" message="tns:ISecurityService_addServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addMenuxAppRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/addMenuxAppRol" message="tns:ISecurityService_addMenuxAppRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/addMenuxAppRolResponse" message="tns:ISecurityService_addMenuxAppRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addSubMenuxAppRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/addSubMenuxAppRol" message="tns:ISecurityService_addSubMenuxAppRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/addSubMenuxAppRolResponse" message="tns:ISecurityService_addSubMenuxAppRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPermisosxObjeto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/addPermisosxObjeto" message="tns:ISecurityService_addPermisosxObjeto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/addPermisosxObjetoResponse" message="tns:ISecurityService_addPermisosxObjeto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPermisosxElementoObjeto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/addPermisosxElementoObjeto" message="tns:ISecurityService_addPermisosxElementoObjeto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/addPermisosxElementoObjetoResponse" message="tns:ISecurityService_addPermisosxElementoObjeto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISecurityService" type="tns:ISecurityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkPermisoXMethServ">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/checkPermisoXMethServ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkMetodoXApp">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/checkMetodoXApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getObjetosXAppRolPage">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/getObjetosXAppRolPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getElementsObjectsXIdObj">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/getElementsObjectsXIdObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenuXAppRol">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/getMenuXAppRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenuXAppRolAdmin">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/getMenuXAppRolAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenuxRol">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/getMenuxRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenuxRolAdmin">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/getMenuxRolAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubMenuXIdMenu">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/getSubMenuXIdMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubMenuXIdMenuAdmin">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/getSubMenuXIdMenuAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="encryptDesEncrypt">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/encryptDesEncrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAplicaciones">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/getAplicaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAplicacion">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/addAplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delMenu">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/delMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delSubMenu">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/delSubMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updAplicacion">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/updAplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updMenuxAppRol">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/updMenuxAppRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updSubMenuxAppRol">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/updSubMenuxAppRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMetodo">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/addMetodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRolxApp">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/addRolxApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addServicio">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/addServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addMenuxAppRol">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/addMenuxAppRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSubMenuxAppRol">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/addSubMenuxAppRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPermisosxObjeto">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/addPermisosxObjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPermisosxElementoObjeto">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/addPermisosxElementoObjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityService">
    <wsdl:port name="BasicHttpBinding_ISecurityService" binding="tns:BasicHttpBinding_ISecurityService">
      <soap:address location="http://desktop-vc0brd2/ThreeBits.WCFService/SecurityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>