ThreeBits.Timbrado.Portal/Connected Services/USERSECURITYWCF/UserSecurityService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" />
  <xs:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" />
  <xs:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/UserSecurityService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" />
  <xs:element name="addUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q1:ReglasBE" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="Usuario" nillable="true" type="q2:UsuariosBE" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="Domicilios" nillable="true" type="q3:ArrayOfDomicilioBE" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="Contactos" nillable="true" type="q4:ArrayOfContactoBE" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="RolesXUsuario" nillable="true" type="q5:ArrayOfRolesXUsuarioBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="addUsuarioResult" nillable="true" type="q6:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsuarioXAplicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q7:ReglasBE" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="lstUsuarioXApp" nillable="true" type="q8:ArrayOfUsuarioXAppBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsuarioXAplicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="addUsuarioXAplicacionResult" nillable="true" type="q9:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actDeactivateUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q10:ReglasBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actDeactivateUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="actDeactivateUsuarioResult" nillable="true" type="q11:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q12:ReglasBE" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="Usuario" nillable="true" type="q13:UsuariosBE" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="Domicilios" nillable="true" type="q14:ArrayOfDomicilioBE" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="Contactos" nillable="true" type="q15:ArrayOfContactoBE" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="RolesXUsuario" nillable="true" type="q16:ArrayOfRolesXUsuarioBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="updateUsuarioResult" nillable="true" type="q17:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRolesXUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q18:ReglasBE" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="RolesXUsuario" nillable="true" type="q19:ArrayOfRolesXUsuarioBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRolesXUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="addRolesXUsuarioResult" nillable="true" type="q20:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q21:ReglasBE" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="RolXUsuario" nillable="true" type="q22:RolesXUsuarioBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="updateRolResult" nillable="true" type="q23:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuarioFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q24:ReglasBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuarioFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="getUsuarioFullResult" nillable="true" type="q25:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="item" nillable="true" type="q26:UsuariosBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="GetUsuariosResult" nillable="true" type="q27:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" minOccurs="0" name="item" nillable="true" type="q28:UsuariosBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="GetUsuarioResult" nillable="true" type="q29:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesVsUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q30:ReglasBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesVsUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="GetRolesVsUserResult" nillable="true" type="q31:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRolesXApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q32:ReglasBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRolesXAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="getRolesXAppResult" nillable="true" type="q33:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUsrXApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q34:ReglasBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUsrXAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="checkUsrXAppResult" nillable="true" type="q35:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppXUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q36:ReglasBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppXUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="getAppXUsuarioResult" nillable="true" type="q37:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstacionesXApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q38:ReglasBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstacionesXAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="getEstacionesXAppResult" nillable="true" type="q39:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRelTipoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="Reglas" nillable="true" type="q40:ReglasBE" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRelTipoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="getRelTipoUsuarioResult" nillable="true" type="q41:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCatSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCatGeneral" type="xs:int" />
        <xs:element minOccurs="0" name="IdSubCatalogo" type="xs:int" />
        <xs:element minOccurs="0" name="App" type="xs:long" />
        <xs:element minOccurs="0" name="PasswordApp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCatSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ThreeBits.WCFService" minOccurs="0" name="getCatSelectionResult" nillable="true" type="q42:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>