ThreeBits.Timbrado.Portal/Connected Services/USERSECURITYWCF/UserSecurityService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuariosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="AMATERNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APATERNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCAREA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCTIPOUSUARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHAALTA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHANACCONST" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDAPLICACION" type="xs:long" />
      <xs:element minOccurs="0" name="IDAREA" type="xs:int" />
      <xs:element minOccurs="0" name="IDESTADOCIVIL" type="xs:int" />
      <xs:element minOccurs="0" name="IDSEXO" type="xs:int" />
      <xs:element minOccurs="0" name="IDTIPOPERSONA" type="xs:int" />
      <xs:element minOccurs="0" name="IDTIPOUSUARIO" type="xs:int" />
      <xs:element minOccurs="0" name="IDUSUARIO" type="xs:long" />
      <xs:element minOccurs="0" name="IDUSUARIOAPP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUTAFOTOPERFIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuariosBE" nillable="true" type="tns:UsuariosBE" />
  <xs:complexType name="ArrayOfDomicilioBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DomicilioBE" nillable="true" type="tns:DomicilioBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDomicilioBE" nillable="true" type="tns:ArrayOfDomicilioBE" />
  <xs:complexType name="DomicilioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="Actualizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="CALLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COLONIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHAALTA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDCOLONIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDDOMICILIO" type="xs:long" />
      <xs:element minOccurs="0" name="IDESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDMUNICIPIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDUSUARIO" type="xs:long" />
      <xs:element minOccurs="0" name="MUNICIPIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMINT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowIndex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DomicilioBE" nillable="true" type="tns:DomicilioBE" />
  <xs:complexType name="ArrayOfContactoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactoBE" nillable="true" type="tns:ContactoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactoBE" nillable="true" type="tns:ArrayOfContactoBE" />
  <xs:complexType name="ContactoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="Actualizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FECHAALTA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDCONTACTO" type="xs:long" />
      <xs:element minOccurs="0" name="IDTIPOCONTACTO" type="xs:int" />
      <xs:element minOccurs="0" name="IDUSUARIO" type="xs:long" />
      <xs:element minOccurs="0" name="RowIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPOCONTACTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALOR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactoBE" nillable="true" type="tns:ContactoBE" />
  <xs:complexType name="ArrayOfRolesXUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolesXUsuarioBE" nillable="true" type="tns:RolesXUsuarioBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolesXUsuarioBE" nillable="true" type="tns:ArrayOfRolesXUsuarioBE" />
  <xs:complexType name="RolesXUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="APLICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCROL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDAPLICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDESTACIONXAPP" type="xs:long" />
      <xs:element minOccurs="0" name="IDROL" type="xs:long" />
      <xs:element minOccurs="0" name="IDROLXUSUARIO" type="xs:long" />
      <xs:element minOccurs="0" name="IDUSUARIO" type="xs:long" />
      <xs:element minOccurs="0" name="ROL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowIndex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolesXUsuarioBE" nillable="true" type="tns:RolesXUsuarioBE" />
  <xs:complexType name="DatosUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contactos" nillable="true" type="tns:ArrayOfContactoBE" />
      <xs:element minOccurs="0" name="Domicilios" nillable="true" type="tns:ArrayOfDomicilioBE" />
      <xs:element minOccurs="0" name="RolesVSUsuario" nillable="true" type="tns:ArrayOfRolesXUsuarioBE" />
      <xs:element minOccurs="0" name="RolesXUsuario" nillable="true" type="tns:ArrayOfRolesXUsuarioBE" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:UsuariosBE" />
      <xs:element minOccurs="0" name="Usuarios" nillable="true" type="tns:ArrayOfUsuariosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosUsuarioBE" nillable="true" type="tns:DatosUsuarioBE" />
  <xs:complexType name="ArrayOfUsuariosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuariosBE" nillable="true" type="tns:UsuariosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuariosBE" nillable="true" type="tns:ArrayOfUsuariosBE" />
  <xs:complexType name="ArrayOfEstacionesXAppBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstacionesXAppBE" nillable="true" type="tns:EstacionesXAppBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstacionesXAppBE" nillable="true" type="tns:ArrayOfEstacionesXAppBE" />
  <xs:complexType name="EstacionesXAppBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDAPLICACION" type="xs:long" />
      <xs:element minOccurs="0" name="IDESTACION" type="xs:int" />
      <xs:element minOccurs="0" name="IDESTACIONXAPP" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstacionesXAppBE" nillable="true" type="tns:EstacionesXAppBE" />
  <xs:complexType name="ArrayOfRelacionTipoUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelacionTipoUsuarioBE" nillable="true" type="tns:RelacionTipoUsuarioBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelacionTipoUsuarioBE" nillable="true" type="tns:ArrayOfRelacionTipoUsuarioBE" />
  <xs:complexType name="RelacionTipoUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDRELACION" type="xs:long" />
      <xs:element minOccurs="0" name="IDUSUARIOFROM" type="xs:long" />
      <xs:element minOccurs="0" name="IDUSUARIOTO" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelacionTipoUsuarioBE" nillable="true" type="tns:RelacionTipoUsuarioBE" />
  <xs:complexType name="ArrayOfRolesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolesBE" nillable="true" type="tns:RolesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolesBE" nillable="true" type="tns:ArrayOfRolesBE" />
  <xs:complexType name="RolesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" type="xs:boolean" />
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDAPLICACION" type="xs:long" />
      <xs:element minOccurs="0" name="IDROL" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolesBE" nillable="true" type="tns:RolesBE" />
  <xs:complexType name="ArrayOfCuentaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CuentaBE" nillable="true" type="tns:CuentaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuentaBE" nillable="true" type="tns:ArrayOfCuentaBE" />
  <xs:complexType name="CuentaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Activo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFCFecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFCHomo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFCSiglas" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuentaBE" nillable="true" type="tns:CuentaBE" />
  <xs:complexType name="ArrayOfUsuarioXAppBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioXAppBE" nillable="true" type="tns:UsuarioXAppBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioXAppBE" nillable="true" type="tns:ArrayOfUsuarioXAppBE" />
  <xs:complexType name="UsuarioXAppBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDAPLICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDUSRSXAPP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDUSUARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URLINICIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioXAppBE" nillable="true" type="tns:UsuarioXAppBE" />
</xs:schema>