ThreeBits.Security.Portal/Connected Services/COMMONWCF/CommonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-vc0brd2/ThreeBits.WCFService/CommonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" />
  <xs:element name="GetCatGenerales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="item" nillable="true" type="q1:CatGeneralesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatGeneralesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="GetCatGeneralesResult" nillable="true" type="q2:RespuestaComunBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatGenerales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="item" nillable="true" type="q3:CatGeneralesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatGeneralesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="AddCatGeneralesResult" nillable="true" type="q4:RespuestaComunBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCatGenerales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="item" nillable="true" type="q5:CatGeneralesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCatGeneralesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="SetCatGeneralesResult" nillable="true" type="q6:RespuestaComunBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatEspecifico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdCatalogo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sValorFiltro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatEspecificoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="GetCatEspecificoResult" nillable="true" type="q7:RespuestaComunBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatEspecifico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdCatalogo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDescripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatEspecificoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="AddCatEspecificoResult" nillable="true" type="q8:RespuestaComunBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigAPP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="item" nillable="true" type="q9:ConfiguracionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigAPPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="GetConfigAPPResult" nillable="true" type="q10:RespuestaComunBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConfigAPP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="item" nillable="true" type="q11:ConfiguracionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConfigAPPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="AddConfigAPPResult" nillable="true" type="q12:RespuestaComunBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfigAPP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="item" nillable="true" type="q13:ConfiguracionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfigAPPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="SetConfigAPPResult" nillable="true" type="q14:RespuestaComunBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefinicionTabla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sNombreTabla" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefinicionTablaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ThreeBits.Entities.Common" minOccurs="0" name="GetDefinicionTablaResult" nillable="true" type="q15:RespuestaComunBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>